@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex justify-content-center">

    <div class="d-flex jumbotron">
        <h5>Meet The Developers</h5>
        <ul class="list-unstyled">
            <li><a href="https://github.com/Deep-A-Patel">Deep Patel</a></li>
            <li><a href="https://github.com/jksiggy">J.R. Sigrah</a></li>
            <li><a href="https://github.com/MaddaRooj">Addam Joor</a></li>
            <li><a href="https://github.com/Jdriscoll1993">Joey Driscoll</a></li>
            <li><a href="https://github.com/Josh-Webb">Josh Webb</a></li>
        </ul>
    </div>
</div>
